@charset "utf-8";

@font-face {
    font-family: "kosugimaru";
    src: url(../font/KosugiMaru-Regular.ttf) format("truetype");
}

body {
    font-family: "kosugimaru";
    min-height: 100vh;
    background: linear-gradient(135deg, #1288f8, #00d7fb, white);/*ブルアカっぽいグラデーション*/
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    font-size: 300%;
}

.faceAndName {
    text-align: center;
    vertical-align: middle;
}

#studentFilter {
    font-family: "kosugimaru";
    align-items: center;
    user-select: none /* 選択を禁止する */
}

#schoolList {
    /* フィルターを括る枠 */
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    align-items: center;
}

.school {
    width: 160px;
    height: 30px;
    border: 2px solid rgb(119, 199, 253);
    border-radius: 5px;
    background-color: rgba(62, 175, 255, 0.507);
}

.menu {
    text-align: center;
    vertical-align: middle;
}

#quiz {
    font-family: "kosugimaru";
    text-align: center;
    vertical-align: middle;
}

#result {
    font-family: "kosugimaru";
    text-align: center;
    vertical-align: middle;
}

.button {
    font-family: "kosugimaru";
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
}